 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/18px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #ecedef;
}

.container {
  margin: 0 auto;
  width: 540px;
}

header {
  padding-top: 100px;
  background: #3d4144 url("../img/bg.png") 0 0 repeat;
  border-bottom: 5px solid #ddd;
}

.nv {
  height: 36px;
  background: #464b4c;
  border-top: 1px solid #353939;
  border-bottom: 1px solid #2e3131;
  background-image: -webkit-linear-gradient(top, #464b4c, #3f4344);
  background-image: -moz-linear-gradient(top, #464b4c, #3f4344);
  background-image: -o-linear-gradient(top, #464b4c, #3f4344);
  background-image: linear-gradient(to bottom, #464b4c, #3f4344);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.nv a {
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  -webkit-transition-property: background-color, line-height;
  -moz-transition-property: background-color, line-height;
  -o-transition-property: background-color, line-height;
  transition-property: background-color, line-height;
}
.nv ul {
  float: left;
  border-left: 1px solid #353939;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid #4d5354;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}
.nv li {
  float: left;
}
.nv a {
  display: block;
  padding: 0 20px;
  line-height: 36px;
  color: #ddd;
  text-decoration: none;
  text-shadow: 0 -1px #2e3131;
  border-left: 1px solid #4d5354;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  border-right: 1px solid #353939;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nv a:hover {
  background: #4d5354;
  background: rgba(255, 255, 255, 0.05);
}
.nv li.active a, nav li.active a:hover, nav a:active {
  padding: 0 21px;
  line-height: 33px;
  color: #eee;
  background: #323637;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #48a9c0;
  background-image: -webkit-linear-gradient(top, #484e4f, #323637);
  background-image: -moz-linear-gradient(top, #484e4f, #323637);
  background-image: -o-linear-gradient(top, #484e4f, #323637);
  background-image: linear-gradient(to bottom, #484e4f, #323637);
  -webkit-box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
}
.nv li.green a, nav li.green a:active {
  border-bottom-color: #56c93d;
}
.nv li.red a, nav li.red a:active {
  border-bottom-color: #a54e49;
}
.nv li.purple a, nav li.purple a:active {
  border-bottom-color: #c052b9;
}
.nv li.yellow a, nav li.yellow a:active {
  border-bottom-color: #c0bb30;
}

.container2 {
  margin: 50px auto;
  width: 380px;
}
.container2 .todo {
  margin: 0 auto;
}

