.skin-blue .main-header .navbar{background-color:#3c8dbc}.skin-blue .main-header .navbar .nav>li>a{color:#fff}.skin-blue .main-header .navbar .nav>li>a:hover,.skin-blue .main-header .navbar .nav>li>a:active,.skin-blue .main-header .navbar .nav>li>a:focus,.skin-blue .main-header .navbar .nav .open>a,.skin-blue .main-header .navbar .nav .open>a:hover,.skin-blue .main-header .navbar .nav .open>a:focus,.skin-blue .main-header .navbar .nav>.active>a{background:rgba(0,0,0,0.1);color:#f6f6f6}.skin-blue .main-header .navbar .sidebar-toggle{color:#fff}.skin-blue .main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background:rgba(0,0,0,0.1)}.skin-blue .main-header .navbar .sidebar-toggle{color:#fff}.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color:#367fa9}@media (max-width:767px){.skin-blue .main-header .navbar .dropdown-menu li.divider{background-color:rgba(255,255,255,0.1)}.skin-blue .main-header .navbar .dropdown-menu li a{color:#fff}.skin-blue .main-header .navbar .dropdown-menu li a:hover{background:#367fa9}}.skin-blue .main-header .logo{background-color:#367fa9;color:#fff;border-bottom:0 solid transparent}.skin-blue .main-header .logo:hover{background-color:#357ca5}.skin-blue .main-header li.user-header{background-color:#3c8dbc}.skin-blue .content-header{background:transparent}.skin-blue .wrapper,.skin-blue .main-sidebar,.skin-blue .left-side{background-color:#222d32}.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a{color:#fff}.skin-blue .sidebar-menu>li.header{color:#4b646f;background:#1a2226}.skin-blue .sidebar-menu>li>a{border-left:3px solid transparent}.skin-blue .sidebar-menu>li:hover>a,.skin-blue .sidebar-menu>li.active>a{color:#fff;background:#1e282c;border-left-color:#3c8dbc}.skin-blue .sidebar-menu>li>.treeview-menu{margin:0 1px;background:#2c3b41}.skin-blue .sidebar a{color:#b8c7ce}.skin-blue .sidebar a:hover{text-decoration:none}.skin-blue .treeview-menu>li>a{color:#8aa4af}.skin-blue .treeview-menu>li.active>a,.skin-blue .treeview-menu>li>a:hover{color:#fff}.skin-blue .sidebar-form{border-radius:3px;border:1px solid #374850;margin:10px 10px}.skin-blue .sidebar-form input[type="text"],.skin-blue .sidebar-form .btn{box-shadow:none;background-color:#374850;border:1px solid transparent;height:35px;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.skin-blue .sidebar-form input[type="text"]{color:#666;border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px}.skin-blue .sidebar-form input[type="text"]:focus,.skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn{background-color:#fff;color:#666}.skin-blue .sidebar-form input[type="text"]:focus+.input-group-btn .btn{border-left-color:#fff}.skin-blue .sidebar-form .btn{color:#999;border-top-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:0}.skin-blue.layout-top-nav .main-header>.logo{background-color:#3c8dbc;color:#fff;border-bottom:0 solid transparent}.skin-blue.layout-top-nav .main-header>.logo:hover{background-color:#3b8ab8}

.main-img{

max-width:125px;
margin-top:20px;
width: 100px;
margin-left:30px;
margin-bottom:10px;
}/*
.time-line{
	max-height:488px;
}*/

.vec{
	margin-top:0px;
}

.text-warning{
	color:#ff0000;
}
element.style {
    width: 7px;
    position: absolute;
    top: 65px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 184.911px;
    background: rgb(0, 0, 0);
}

.side-nav {
  width: 95%;
  height:100%;
  margin: 5px auto;
  margin-top:15px;
  margin-bottom:15px;
  padding:2;
  background: #c5d5e6;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.5);
position: relative; padding: 5px; border: 1px  #3e3e41; overflow-y:scroll;}



.side-nav-button, .side-nav:active .active {
  display: block;
  position: relative;
  
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 14px;
  font-size: 13px;
  font-weight: bold;
  color: #597490;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  background: #d8e6f4;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #b2bcc8 #acb6c0 #97abba;
  /*border-radius: 3px;*/
  background-image: -webkit-linear-gradient(top, #f1f6ff, #d3dde7 70%, #bfcddc);
  background-image: -moz-linear-gradient(top, #f1f6ff, #d3dde7 70%, #bfcddc);
  background-image: -o-linear-gradient(top, #f1f6ff, #d3dde7 70%, #bfcddc);
  background-image: linear-gradient(to bottom, #f1f6ff, #d3dde7 70%, #bfcddc);
  -webkit-box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.06);
}


.chatbox{
height:380px;
}

h4{
	font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
}
.up-input{
	
border-radius: 50%;
}

 .fakeFileTxt {
  float: right;
  width: 70%; 
  height: 30px;
      }
 .fileDiv
 {
  position: relative;

  width: 27;
  height: 33px;
  overflow: hidden;
 }
  
 .buttonImg
 {
  margin-right:3px;
	position:absoloute;
	display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    min-width: 96px;
    line-height: 30px;
    padding: 0 24px;
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #154c86;
    background-color: #247edd;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #1c65b2 #18589c #18589c;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  position: absolute;
  color: #FFFFFF;
  border-style: solid;
 }
  
 .realFile
 { 
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
   
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
 }
.file_body{
	
	padding:30px 15px 30px 15px;
}
.modal-header{

  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
  padding-top:28px;
}

.modal-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.file_content{
	 border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  max-width:450px;
}
.file_content:before, .modal-content:after {
	 background: inherit;
  border-bottom: 1px solid #000000;
  border-radius: 4px;
}

.btn-like{
	background-color:#ffffff;
	color:#000000;
	border-color: #ccc;
	    border-radius: 3px;
	    margin-top: 4px;
}
.three-menu>span{
	-webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.user-block{
    border-bottom: 1px solid #AAA5A5;
    margin-bottom: 2px;
    padding-bottom: 5px;
}
.todo-list>li>img{
	width:40px;
	height:40px;
}
.pro-todo>li{
	background-color:#ffffff;
	border-bottom: 1px solid #e6e7e8;;
   border-left:transparent;
}
.pro-todo{
	max-height: 500px;
	overfloat:auto;
}
.dash-nav>i{
	color:#C0C2C3;
}
.dash-icon:hover{
	    background-color: #3c8dbc;
}
.dash-nav:hover{
	    background-color: #3c8dbc;
}
.fairy{
	width:300px;height:300px;margin:140px;margin-right:50px;margin-left:190px;

}
    .login-fa-user{
      color: #ddd;
      border: solid 3px;
      padding: 10%;
      border-radius: 40% 40% 40% 40%;
    }
    .fb-logo{
      color:#3B5998;
    }
    .gg-logo{
      color:#dd4b39;
    }
   .entry_log_form{
   width:40%;height:500px;float:right; margin-top:50px;margin-bottom:50px;margin-right:70px;padding-right:50px;
   }
   .first_log_form{
   margin-top:50px;margin-bottom:20px;
   }
   .second-log-form{
   margin-top:30px;margin-bottom:30px;
   }
   .log_page{
   
   background-color:#ffffff;
   }
   .file-message-icon{
   border:solid 1px;border-radius:40% 40%;margin:4px;padding:8px;
   }
   .file-massage-name{
   margin-left:4px;
   }
   span.file_name_tag{
   color:#ffffff;
   }
   span.file_name_tag:hover{
   color:#ffffff;
   }
   img.notime {
    padding-left: 15%;
    margin-bottom: 8.4%;
}